<p>
    Hi, <%= username %>, We've recently received a request to reset your password.
    It was issued to <%= email %>. If this is not you, please delete this message.

    If you did not make this requeset, this message can be safely ignored.

    If it was, follow the link below to validate the request and reset your password.
</p>

<% const resetUrl = `${domain}/reset-password/${resetKey}` %>

<a href="<%= resetUrl %>"><%= resetKey %></a>